* {
  margin: 0;
  padding: 0;
}

body {
  background-color: #464646;
  font-family: sans-serif;
  line-height: 1.4;
}

/* Product */
.product {
  background-color: #ffffff;
  border: 3px solid #000000;
  width: 825px;
  margin: 50px auto;
}

.product-title {
  text-align: center;
  font-size: 22px;
  text-transform: uppercase;
  background-color: #f7f7f7;
  width: 100%;
  padding: 15px 0;
}

/* Product Information */
.price {
  font-size: 24px;
}

.shipping {
  font-size: 12px;
  text-transform: uppercase;
  color: #777;
  margin-bottom: 20px;
  font-weight: bold;
}

.description {
  margin-bottom: 10px;
}

.more-info:link,
.more-info:visited {
  color: #000000;
}

.more-info:hover,
.more-info:active {
  color: #000000;
  text-decoration: none;
}

/* Product Details */

.details-title {
  margin-top: 30px;
  text-transform: uppercase;
  font-size: 16px;
  margin-bottom: 15px;
}

.details-list {
  list-style-type: square;
  margin-left: 20px;
}

.details-list li {
  margin-bottom: 10px;
}
/* Button */
.add-cart {
  background-color: #000000;
  border: none;
  color: #ffffff;
  width: 100%;
  font-size: 20px;
  text-transform: uppercase;
  cursor: pointer;
  padding: 15px;
}

.add-cart:hover {
  color: #000000;
  background-color: #ffffff;
  border-top: 4px solid #000000;
}
